.container {
  padding: 16px;

  &__header {
    display: flex;
    gap: 48px;
    align-items: center;
    height: 48px;
  }

  &__main {
    min-height: calc(100vh - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
}

.header {

  &__logo {}

  &__btn {
    &_logout {
      margin-left: auto;
    }
  }
}
