<div class="container">

  <header class="container__header header">
    <button class="header__btn" mat-button color="primary" routerLink="/list">
      List of cars
    </button>
    <button class="header__btn" mat-button color="primary" routerLink="/add">
      Add car
    </button>
    <button class="header__btn_logout" mat-button color="primary" *ngIf="(access$ | async)" routerLink="" (click)="Logout()">
      Logout
    </button>
  </header>

  <main class="container__main">
    <router-outlet></router-outlet>
  </main>

  <footer class="container__footer">
    Copyright © 2023 CRUD App
  </footer>

</div>
